body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

  header {
    color: #000000;
    padding: 1em;
    text-align: center;
  }

  .container {
    padding: 2em;
    display: flex;
  }

  .left-column,
    .right-column {
    padding: 20px;
    }

    .left-column {
    flex: 1;
    }

    .right-column {
    flex: 2;
    }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  section {
    margin-top: 2em;
  }

  h2 {
    color: #007bff;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
  }

  li {
    padding-left: 20px;
    margin-bottom: 1em;
    position: relative;
  }
  li::before {
    content: "\2022"; /* Unicode character for bullet point */
    color: #333; /* Bullet point color */
    font-size: 1.2em;
    position: absolute;
    left: 0;
  }

  span {
    font-weight: bold;
    color: #000000;
  }

  a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  footer {
    color: #000000;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }